<form class="form-signin" method="post" action="/login">
      <h2 class="form-signin-heading">{{title}}</h2>
      <label class="sr-only">Email address</label>
      <input type="text" class="form-control" name="username" placeholder="username" required autofocus>
      <label class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
      <a class='reg' href="/register">Not a member? Register here</a>
</form>
